table.c151 {width:382.5pt;margin-left:45.9pt;border-collapse:collapse;border:none; }
tr.c150 {height:4.0pt}
td.c149 {width:191.2pt;border:none;padding:0 5.4pt 0 5.4pt; height:4.0pt}
td.c148 {width:191.25pt;border:none;padding:0 5.4pt 0 5.4pt; height:4.0pt}
p.c147 {margin-top:6.0pt}
p.c145 {
  margin: 12.0pt 0 0;
}
p.c144 {
  margin: 6.0pt 0 0;
}
td.c142 {width:191.2pt;border:none;padding:0 5.4pt 0 5.4pt}
td.c141 {width:191.25pt;border:none;padding:0 5.4pt 0 5.4pt}
p.c140 {font-weight: bold;
  margin: 12.0pt 0 0;
  }
p.c138 {margin-bottom:6.0pt;}
p.c137 {margin-bottom:6.0pt;;}
p.c136 {
  margin: 0 0 6.0pt 18.0pt;
}
p.c135 {
  margin: 12.0pt 0 6.0pt 18.0pt;
}
table.c130 {width:91.36%;border-collapse:collapse;border:none; }
p.c128 {font-weight: bold; line-height: 115%; margin-bottom: 0; }
tr.c127 {height:26.5pt}
td.c126 {width:69.75pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;  padding:0 5.4pt 0 5.4pt;height:26.5pt}
td.c125 {width:69.7pt;border-top:none;border-left:none;border-bottom: solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0 5.4pt 0 5.4pt;height:26.5pt}
td.c124 {width:298.0pt;border:solid windowtext 1.0pt; border-top:none; padding:0 5.4pt 0 5.4pt;height:26.5pt}
tr.c123 {height:35.5pt}
td.c122 {width:69.75pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;  padding:0 5.4pt 0 5.4pt;height:35.5pt}
td.c121 {width:69.7pt;border-top:none;border-left:none;border-bottom: solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0 5.4pt 0 5.4pt;height:35.5pt}
td.c120 {width:298.0pt;border:solid windowtext 1.0pt; border-top:none; padding:0 5.4pt 0 5.4pt;height:35.5pt}
td.c118 {width:69.75pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;  padding:0 5.4pt 0 5.4pt}
td.c117 {width:69.7pt;border-top:none;border-left:none;border-bottom: solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0 5.4pt 0 5.4pt}
td.c116 {width:298.0pt;border:solid windowtext 1.0pt; border-top:none; padding:0 5.4pt 0 5.4pt}
tr.c115 {height:29.65pt}
td.c114 {width:69.75pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;  padding:0 5.4pt 0 5.4pt;height:29.65pt}
td.c113 {width:69.7pt;border-top:none;border-left:none;border-bottom: solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0 5.4pt 0 5.4pt;height:29.65pt}
td.c112 {width:298.0pt;border:solid windowtext 1.0pt; border-top:none; padding:0 5.4pt 0 5.4pt;height:29.65pt}
p.c111 {margin-bottom:0;line-height: 115%}
tr.c110 {height:3.5pt}
td.c109 {width:69.75pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;  padding:0 5.4pt 0 5.4pt;height:3.5pt}
td.c108 {width:69.7pt;border-top:none;border-left:none;border-bottom: solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0 5.4pt 0 5.4pt;height:3.5pt}
td.c107 {width:298.0pt;border:solid windowtext 1.0pt; border-top:none; padding:0 5.4pt 0 5.4pt;height:3.5pt}
tr.c105 {height:24.25pt}
td.c104 {width:69.75pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;  padding:0 5.4pt 0 5.4pt;height:24.25pt}
td.c103 {width:69.7pt;border-top:none;border-left:none;border-bottom: solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0 5.4pt 0 5.4pt;height:24.25pt}
td.c102 {width:298.0pt;border:solid windowtext 1.0pt; border-top:none; padding:0 5.4pt 0 5.4pt;height:24.25pt}
tr.c100 {height:18.4pt}
td.c99 {width:69.75pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;  padding:0 5.4pt 0 5.4pt;height:18.4pt}
td.c98 {width:69.7pt;border-top:none;border-left:none;border-bottom: solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0 5.4pt 0 5.4pt;height:18.4pt}
td.c96 {width:298.0pt;border:solid windowtext 1.0pt; border-top:none; padding:0 5.4pt 0 5.4pt;height:18.4pt}
tr.c95 {height:58.0pt}
td.c94 {width:69.75pt;border-top:none;border-left:none; border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;  padding:0 5.4pt 0 5.4pt;height:58.0pt}
td.c92 {width:69.7pt;border-top:none;border-left:none;border-bottom: solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0 5.4pt 0 5.4pt;height:58.0pt}
td.c90 {width:298.0pt;border:solid windowtext 1.0pt; border-top:none; padding:0 5.4pt 0 5.4pt;height:58.0pt}
tr.c88 {height:3.5pt}
td.c87 {width:69.75pt;border:solid windowtext 1.0pt;border-left: none; padding:0 5.4pt 0 5.4pt;height:3.5pt}
td.c86 {width:69.7pt;border:solid windowtext 1.0pt;border-left: none; padding:0 5.4pt 0 5.4pt;height:3.5pt}
td.c85 {width:298.0pt;border:solid windowtext 1.0pt;padding:0 5.4pt 0 5.4pt;height:3.5pt}
p.c84 {font-weight: bold; line-height: 115%; margin-bottom: 0; }
span.c78 {    text-decoration: underline}
p.c77 {
  margin: 0 0 6.0pt;
  }
p.c76 {font-weight: bold;
  margin: 0 0 6.0pt;
   ; text-decoration: underline}
p.c75 {margin-left:90.0pt;;text-indent: -18.0pt;}
p.c73 {margin-left:54.0pt;;text-indent: -18.0pt;}
p.c72 {margin-left:54.0pt;;text-indent: -18.0pt;}
p.c69 {margin-bottom:6.0pt;;mso-pagination: widow-orphan lines-together;page-break-after:avoid}
p.c68 {margin-bottom: 6.0pt; mso-pagination: widow-orphan lines-together; page-break-after: avoid; text-align: left}
p.c67 {margin-bottom:6.0pt;}
p.c66 {
  margin: 6.0pt 0 6.0pt 54.0pt;}
p.c64 {
  margin: 6.0pt 0 6.0pt 54.0pt;}
p.c61 {
  margin: 0 0 6.0pt 36.0pt;;text-indent:-36.0pt}
p.c60 {margin-bottom: 6.0pt; text-align: left}
table.c59 {width:460.15pt;margin-left:19.85pt;border-collapse:collapse;border: none;}
p.c57 {margin-bottom: 0;}
p.c56 {margin-bottom:0;line-height:115%}
span.c55 {line-height: 115%}
p.c53 {line-height: 115%; margin-bottom: 0; text-align: center}
span.c52 { line-height:115%}
td.c51 {width:179.0pt;border-top:none;border-left: none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;  padding:0 5.4pt 0 5.4pt}
td.c50 {width:207.15pt;border-top:none;border-left:none; border-bottom:solid black 1.0pt;border-right:solid black 1.0pt; padding:6.0pt 6.0pt 6.0pt 5.75pt}
td.c49 {width:74.0pt;border:solid black 1.0pt;border-top:none;  padding:6.0pt 6.0pt 6.0pt 5.75pt}
p.c48 {margin-bottom:0;}
tr.c47 {height:21.0pt}
td.c46 {width:179.0pt;border:solid black 1.0pt;border-left:none;  background:#EEEEEE;padding:0 5.4pt 0 5.4pt;height:21.0pt}
td.c45 {width:207.15pt;border:solid black 1.0pt;border-left: none; background:#EEEEEE;padding:6.0pt 6.0pt 6.0pt 5.75pt;height:21.0pt}
td.c44 {width:74.0pt;border:solid black 1.0pt;background:#EEEEEE;padding:6.0pt 6.0pt 6.0pt 5.75pt; height:21.0pt}
p.c43 {font-weight: bold; margin-bottom: 0; }
p.c41 {margin-bottom:0;}
table.c40 {width:459.95pt;margin-left:18.85pt;border-collapse:collapse;border: none;}
tr.c39 {height:64.0pt}
td.c38 {width:200.7pt;border-top:none;border-left: none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;  padding:0 5.4pt 0 5.4pt;height:64.0pt}
td.c35 {width:173.05pt;border-top:none;border-left: none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;  padding:0 5.4pt 0 5.4pt;height:64.0pt}
td.c34 {width:86.2pt;border:solid black 1.0pt; border-top:none; padding:0 5.4pt 0 5.4pt;height:64.0pt}
p.c31 {margin-bottom: 0; text-align: left}
td.c26 {width:200.7pt;border-top:none;border-left: none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;  padding:0 5.4pt 0 5.4pt}
td.c25 {width:173.05pt;border-top:none;border-left: none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;  padding:0 5.4pt 0 5.4pt}
td.c24 {width:86.2pt;border:solid black 1.0pt; border-top:none; padding:0 5.4pt 0 5.4pt}
p.c23 {margin-bottom:0;}
td.c21 {width:200.7pt;border:solid black 1.0pt;border-left:none;  background:#D9D9D9;padding:0 5.4pt 0 5.4pt}
td.c20 {width:173.05pt;border:solid black 1.0pt;border-left: none; background:#D9D9D9;padding:0 5.4pt 0 5.4pt}
td.c19 {width:86.2pt;border:solid black 1.0pt;background:#D9D9D9;padding:0 5.4pt 0 5.4pt}
p.c18 {font-weight: bold; margin-bottom: 6.0pt; }
p.c16 {font-weight: bold; margin-bottom: 6.0pt; ; text-decoration: underline}
p.c14 {
  margin: 0 0 3.0pt 36.0pt;
}
b.c13 {text-decoration: underline}
span.c12 {   text-decoration: none}
p.c11 {font-weight: bold;
  margin: 0 0 3.0pt 36.0pt;; text-decoration: underline}
p.c10 {font-weight: bold;
  margin: 0 0 3.0pt 36.0pt;
  text-align: left; text-decoration: underline}
p.c4 {font-style: italic; }
p.c2 {font-weight: bold; }