<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8"/>
  <title> Contract </title>
  <style>
    body {
      margin: 50px
    }

    h1 {
      text-align: center;
      margin-bottom: 50px;
    }

    .tab {
      margin-left: 30px;
      margin-bottom: 0;
      margin-top: 0;
    }

    .reference {
      text-align: right;
      color: gray;
    }
  </style>
</head>

<body>

<h1>Independent Supplier Agreement</h1>

<p>
  This Agreement is made between Car Aggregator, INC. (Aggregator), with a principal place of business at Wilmington,
  Delaware, USA, and Beautiful Cars, INC (Supplier), with a principal place of business at Washington DC, Washington,
  USA.
</p>

<p>
  This Agreement will become effective on [[${dateStart}]] and will end no later than [[${dateEnd}]].
</p>

<h2>Services to be Performed</h2>
<p>
  Supplier agrees to perform the following services:
</p>

<h2>Payment</h2>
<p>
  In consideration for the services to be performed by Supplier, Aggregator agrees to pay Supplier:
</p>

<p class="tab">
  [[${pricePremium}]] per hour for the premium class car,
</p>
<p class="tab">
  [[${priceRegular}]] per hour for the regular class car.
</p>

<p>
  An extra fee of [[${priceWeekend}]]% applies for weekend rentals.
</p>
<p>
  If the order is canceled in the last 24h before the service the Aggregator pays [[${cancellationFee}]]% of the
  fee.
</p>

<h2>Terms of Payment</h2>
<p>
  Upon successful completion of Supplier's services under this Agreement, Supplier shall submit an invoice. Aggregator
  shall pay Supplier the compensation described within [[${paymentDue}]] days of receipt of Supplier's invoice.
</p>
<p>
  If a major customer complaint is received then a penalty applies and [[${deliveryPenalty}]]% is subtracted from the
  fee.
</p>

<h2>Materials and Expenses</h2>
<p>
  Supplier shall be responsible for all materials and expenses incurred while performing services under this Agreement.
</p>

<h2>Independent Supplier Status</h2>
<p>
  Supplier is an independent Supplier, not Aggregator's employee. Supplier's employees or contract personnel are not
  Aggregator's employees.
</p>

<h2>Business Permits, Certificates, and Licenses</h2>
<p>
  Supplier has complied with all federal, state, and local laws requiring business permits, certificates, and licenses
  required to carry out the services to be performed under this Agreement. Supplier will provide Aggregator with a copy
  of all relevant permits, certificates and licenses.
</p>

<h2>Criminal Background Check</h2>
<p>
  Supplier must undergo a complete criminal background check including fingerprinting and provide a copy of the results
  to Aggregator. Supplier is responsible for all expenses related to the criminal background check. Supplier has the
  duty to update and disclose to Aggregator any change in criminal record after the background check has been submitted.
</p>

<h2>State and Federal Taxes</h2>
<p>
  Aggregator will not:
  withhold FICA (Social Security and Medicare taxes) from Supplier's payments or make FICA payments on Supplier's
  behalf, make state or federal unemployment compensation contributions on Supplier's behalf,
  or withhold state or federal income tax from Supplier's payments.
</p>

<p>
  Supplier shall pay all taxes incurred while performing services under this Agreement--including all applicable income
  taxes and, if Supplier is not a corporation, self-employment (Social Security) taxes. Upon demand, Supplier shall
  provide Aggregator with proof that such payments have been made.
</p>

<h2>Fringe Benefits</h2>
<p>
  Supplier understands that neither Supplier nor Supplier's employees or contract personnel are eligible to participate
  in any employee pension, profit sharing, health, vacation pay, sick pay, or other fringe benefit plan of Aggregator.
  If Supplier is later classified as Aggregator's employee, Supplier expressly waives Supplier's rights to any benefits
  to which he or she was, or might have become, entitled.
</p>
<h2>Workers' Compensation</h2>
<p>
  Aggregator shall not obtain workers' compensation insurance on behalf of Supplier or Supplier's employees. If Supplier
  hires employees to perform any work under this Agreement, Supplier will cover them with workers' compensation
  insurance and provide Aggregator with a certificate of workers' compensation insurance before the employees begin the
  work.
</p>

<h2>Unemployment Compensation</h2>
<p>
  Aggregator shall make no state or federal unemployment compensation payments on behalf of Supplier or Supplier's
  employees or contract personnel. Supplier will not be entitled to these benefits in connection with work performed
  under this Agreement.
</p>

<h2>Insurance</h2>
<p>
  Aggregator shall not provide any insurance coverage of any kind for Supplier or Supplier's employees or contract
  personnel. Additional insurance requirements may be required and will be addressed on a case by case basis.
</p>
<p>
  Supplier shall indemnify and hold Aggregator harmless from any loss or liability arising from performing services
  under this Agreement.
</p>

<h2>Non-Disclosure of Customer Lists and other Proprietary Information</h2>
<p>
  Supplier agrees not to disclose proprietary information about Aggregator, its operations, clientele or other
  information relating to the organization. This includes, but not limited to, the names and contact information of its
  customers, marketing strategies, operations and any other confidential information.
</p>
<p>
  Supplier shall not, during the contract period and for a period of one year immediately following termination of the
  agreement, without written permission from Aggregator, either directly or indirectly, call on, solicit, or take away
  any customers of Aggregator on whom Supplier called or became acquainted with during the terms of the agreement,
  either for their own benefit or for the benefit of any other person, firm or organization.
</p>

<h2>Non-Recruit Covenant</h2>
<p>
  Supplier shall not, during this agreement and for a period of one year following the termination of this agreement,
  either directly or indirectly, recruit any of Aggregator's employees for the purpose of outside business.
</p>

<h2>Legal Compliance</h2>
<p>
  Supplier is encouraged to treat all Aggregator employees, customers, clients, business partners and other affiliates
  with respect and responsibility. Supplier is required to comply with all laws, ethical codes, and Aggregator policies,
  procedures or rules including those forbidding harassment, discrimination and unfair business practices.
</p>

<h2>Indemnification</h2>
<p>
  Supplier shall defend, indemnify, hold harmless and insure Aggregator from any and all damages, expenses or liability
  resulting from or arising out of any negligence or misconduct on Supplier's part, or from any breach or default of
  this agreement which is caused by the acts of Supplier. Supplier shall insure that its employees and affiliates take
  all actions necessary to comply the the terms set forth in this agreement. Supplier shall name Aggregator as
  additional insured on all related insurance policies including general liability.
</p>

<h2>Terminating the Agreement</h2>
<p>
  Either party may terminate this Agreement any time by giving written notice to the other party of the intent to
  terminate.
</p>

<h2>Exclusive Agreement</h2>
<p>
  Supplier will not use services in Washington DC from other suppliers for up to [[${exclusivityPeriod}]] years starting
  from [[${dateStart}]].
</p>

<h2>Severability</h2>
<p>
  If any provision of this Agreement is determined to be invalid, illegal, or unenforceable, the remaining provisions
  will remain in full force if the essential provisions of this Agreement for Aggregator and Supplier remain valid,
  binding, and enforceable.
</p>

<h2>Applicable Law</h2>
<p>
  This Agreement will be governed by the laws of the state of Delaware.
</p>

<h2>No Partnership</h2>
<p>
  This Agreement does not create a partnership relationship. Supplier does not have authority to enter into contracts on
  Aggregator's behalf.
</p>

<h2>Resolving Disputes</h2>
<p>
  If a dispute arises under this Agreement, any party may take the matter to court.
</p>


<h2>Signatures</h2>
<p><b>Car Aggregator AI, INC</b></p>

<p>By: _____________________________ (Signature)</p>
<p>________________________________ (Printed name)</p>
<p>Title: CEO</p>
<p>Date: [[${dateStart}]]</p>

<br/>
<p><b>Supplier: Beautiful Cars, INC.</b></p>

<p>By: _____________________________ (Signature)</p>
<p>Name: Joe Black</p>
<p>Title: CEO</p>
<p>Date: [[${dateStart}]]</p>

<br/>
<p class="reference">
  Negotiation for reference: <br/>[[${baseUrl}]]/chat/[[${defaultflowId}]]/[[${stateId}]]
</p>

</body>

</html>
